* {
  font-family: "Maiden Orange";
  font-size: 24px;
}

/* maiden-orange-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Maiden Orange";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/maiden-orange-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  margin: 0;

  background-image: url("./img/backgrounds/main_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;

  color: white;
  font-size: 48px;
  letter-spacing: 4px;
}

.content {
  position: relative;

  width: 720px;
  height: 480px;
}

canvas {
  box-sizing: border-box;

  position: relative;

  display: none;

  width: 100%;
  height: 100%;

  background-color: black;

  border-radius: 16px;
}

.d-none {
  display: none !important;
}

.fullscreen {
  width: 100vw !important;
  height: 100vh !important;
}

/* HUD */

#hud {
  position: absolute;
  top: 16px;
  right: 24px;

  z-index: 999;
}

#hud-mobile-left {
  display: none;

  position: absolute;
  bottom: 16px;
  left: 24px;

  z-index: 999;
}

#hud-mobile-right {
  display: none;

  position: absolute;
  bottom: 16px;
  right: 24px;

  z-index: 999;
}

.btn-icon {
  width: 32px;
  height: 32px;

  cursor: pointer;
}

.btn-ctrl {
  width: 48px;
  height: 48px;

  border: 5px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;

  cursor: pointer;
}

/* HUD END */

#start-screen {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

#start-screen img {
  width: 100%;
  height: 100%;

  border-radius: 16px;
}

#mobile-start-screen {
  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

#mobile-start-screen img {
  width: 100%;
  height: 100%;

  border-radius: 16px;
}

.mobile-start-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  /* margin-bottom: 16px; */
  padding: 8px 16px;
  margin-top: 25%;

  background-color: rgba(66, 66, 66, 0.5);
  color: #fff;
  font-size: 32px;
  text-align: center;
}

.game-overlay {
  overflow: hidden;
  position: absolute;
  top: 0;

  display: none;
  justify-content: center;

  width: 100%;
  height: 100%;
}

#gameover-screen img {
  width: 100%;

  border-radius: 16px;
}

.img-start {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 16px;
}

.btn-start {
  position: absolute;
  top: 2em;

  width: 200px;

  padding: 8px 16px;

  background-color: rgb(236, 203, 19);
  border: 3px solid black;
  border-radius: 8px;
  color: black;
  font-size: 24px;
  font-weight: bold;

  cursor: pointer;
}

.btn-start:hover {
  background-color: rgb(255, 255, 30);
}

.start-tutorial {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  /* margin-bottom: 16px; */
  padding: 8px 16px;
  margin-bottom: 16px;

  background-color: rgba(255, 255, 255, 0.5);

  text-align: center;
}

/* Responsive View */

@media (max-width: 720px) {
  #game-title {
    display: none;
  }

  #btn-fullscreen {
    display: none;
  }

  #start-screen {
    display: none;
  }

  #mobile-start-screen {
    display: flex;
  }

  #start-tutorial {
    display: none;
  }

  .content {
    width: 100vw;
    height: auto;
  }

  #hud-mobile-left {
    display: block;
  }

  #hud-mobile-right {
    display: block;
  }
}
