body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-image: url("img/5_background/second_half_background.png"); */
}

canvas {
  background-color: black;

  border-radius: 16px;
}

#start-screen {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  width: 720px;
  height: 480px;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 16px;
}

.btn-start {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
}
