* {
  font-family: "Maiden Orange";
  font-size: 24px;
}

/* maiden-orange-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Maiden Orange";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/maiden-orange-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  margin: 0;

  background-image: url("img/backgrounds/main_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-size: 48px;
  letter-spacing: 4px;
}

.content {
  position: relative;
}

canvas {
  position: relative;

  display: none;

  width: 100%;
  height: 100%;

  background-color: black;

  border-radius: 16px;
}

#start-screen {
  width: 720px;
  height: 480px;

  background-color: aqua;
}

#start-screen img {
  width: 100%;

  border-radius: 16px;
}

.img-start {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 16px;
}

.btn-start {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;

  max-width: 200px;

  padding: 8px 16px;

  background-color: rgb(236, 203, 19);
  border: 3px solid black;
  border-radius: 8px;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.btn-start:hover {
  background-color: rgb(255, 255, 30);
}
